@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap");

body {
	background: linear-gradient(180deg, #a6fffa 0%, #efc2ff 100%);
	height: 4737px;
	font-family: "Montserrat", sans-serif;
	overflow-x: hidden;
}

nav {
	box-sizing: border-box;
	background: #fff;
	border-bottom: 1px solid;
	font-weight: 600;
}

.headline {
	font-weight: 600;
	padding: 180px 110px 50px;
	line-height: 1px;
}

.headline h1 {
	font-weight: 600;
	font-size: 90px;
	line-height: 110px;
}

.description {
	padding-left: 1000px;
	font-weight: 500;
	padding-bottom: 100px;
}

.container {
	padding-top: 50px;
}

.gallery h2 {
	font-weight: 600;
}

.card {
	width: 272px;
	height: 428px;
	align-items: center;
	padding-top: 5px;
	text-align: center;
	font-weight: 600;
}

.card p {
	padding-top: 100px;
}

.gallery h2 {
	padding-left: 110px;
}

.row {
	padding-left: 110px;
	padding-right: 100px;
}

.About h2 {
	font-weight: 600;
	padding: 180px 110px;
}

.image {
	padding: 1px 110px;
	font-weight: 600;
}

.image p {
	
}

